<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="numberFormat" class="java.text.NumberFormat" factory-method="getCurrencyInstance"/>

    <bean id="factory" class="javax.xml.parsers.DocumentBuilderFactory" factory-method="newInstance"/>

    <bean class="javax.xml.parsers.DocumentBuilder" factory-bean="factory" factory-method="newDocumentBuilder"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"/>

</beans>